.container {
  justify-items: center;
}

.text {
  margin-top: 340px;
  font-weight: bold;
  font-size:xx-large;
}

.color1 {
  color: dodgerblue;
}

.color2 {
  color: white;
}

.icon {
  color: dodgerblue;
}

.link {
  font-size:large;
}

.link:hover {
  color: dodgerblue;
  font-weight: bold;
}
